<!DOCTYPE html>
<html lang="zxx" dir="ltr">



<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HUYSHOP</title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="Hmart-Smart Product eCommerce html Template">
    <!-- Favicon -->
    <!--fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">



    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />
    <!-- CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/font.awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/pe-icon-7-stroke.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/venobox.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap&subset=vietnamese" rel="stylesheet">
    <!-- Style CSS -->
    <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
    <!-- Minify Version -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
</head>

<body style="font-family: 'Roboto', sans-serif;">

<div class="main-wrapper">
        <header>
            <!-- Header top area start -->
            <div class="header-top" style="background-color: white; color: black; font-weight: bold; font-family: Arial, sans-serif;">
                <div class="container" >
                    <div class="row justify-content-between align-items-center">
                        <div class="col">
                            <div class="welcome-text" >
                               <p style="color: black;">Hệ thống cửa hàng uy tín số 1 thế giới</p>
                            </div>
                        </div>
                        <div class="col d-none d-lg-block">
                            <div class="top-nav">
                                <ul>
                                    <li><a href="#" style="color: black; font-weight: bold;"><i class="fa-solid fa-phone"></i> 0123456</a></li>
                                    <li><a href="kimquochuy21@gmail.com" style="color: black; font-weight: bold;"><i class="fa-solid fa-envelope"></i> kimquochuy21@gmail.com</a></li>
                                    <li><a href="my-account.html" style="color: black; font-weight: bold;"> Account</a></li>
                                    {% if user.is_authenticated %}
                                    <li><a href="{% url 'logout' %}" style="color: black; font-weight: bold;"><li class="fa fa-unlock"></li>ĐăngXuất</a></li>
                                    {% else %}
                                    <li><a href="{% url 'login' %}" style="color: black; font-weight: bold;"><li class="fa fa-lock"></li>ĐăngNhập</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header top area end -->
            <!-- Header action area start -->
            <div class="header-bottom  d-none d-lg-block" style="background-color: #000000;">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-3 col">
                            <div class="header-logo" style="filter: brightness(0) invert(1);">
                                <a href="index.html"><img src="{% static 'assets/images/logo/n1.png' %}" alt="Site Logo" style="width: 140px;" /></a>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-lg-block">
                            <div class="search-element">
                                <form action="/search/" method="get">
                                    <input type="text" placeholder="Search" name="query" id="query" />
                                    <button><i class="pe-7s-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3 col">
                            <div class="header-actions">
                                <!-- Single Wedge Start -->
                                <a href="#offcanvas-wishlist" class="header-action-btn offcanvas-toggle">
                                    <i class="pe-7s-like"></i>
                                </a>
                                <!-- Single Wedge End -->
                                <a href="#offcanvas-cart" class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
                                    <i class="pe-7s-shopbag"></i>
                                    <span class="header-action-num">{{request.session.cart|length}}</span>
                                    <!-- <span class="cart-amount">€30.00</span> -->
                                </a>
                                <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                                    <i class="pe-7s-menu"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header action area end -->
            <!-- Header action area start -->
            <div class="header-bottom d-lg-none sticky-nav style-1">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-3 col">
                            <div class="header-logo">
                                <a href="index.html"><img src="{% static 'assets/images/logo/logo.png ' %}" alt="Site Logo" /></a>
                            </div>
                        </div>
                        <div class="col-lg-6 d-none d-lg-block">
                            <div class="search-element">
                                <form action="#">
                                    <input type="text" placeholder="Search" />
                                    <button><i class="pe-7s-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3 col">
                            <div class="header-actions">
                                <!-- Single Wedge Start -->
                                <a href="#offcanvas-wishlist" class="header-action-btn offcanvas-toggle">
                                    <i class="pe-7s-like"></i>
                                </a>
                                <!-- Single Wedge End -->
                                <a href="#offcanvas-cart" class="header-action-btn header-action-btn-cart offcanvas-toggle pr-0">
                                    <i class="pe-7s-shopbag"></i>
                                    <span class="header-action-num">{{request.session.cart|length}}</span>

                                    <!-- <span class="cart-amount">€30.00</span> -->
                                </a>
                                <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                                    <i class="pe-7s-menu"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header action area end -->
            <!-- header navigation area start -->
            <div class="header-nav-area d-none d-lg-block sticky-nav" style="background-color: white;">
                <div class="container">
                    <div class="header-nav">
                        <div class="main-menu position-relative" style="background-color: white;">
                            <ul>
                                <li><a href="{% url 'home' %}" style="color: black; font-weight: bold;"><i class="fa-solid fa-house" ></i>TRANG CHỦ</a></li>
                                <li><a href="{% url 'products' %}" style="color: black; font-weight: bold;">SẢN PHẨM</a></li>
                                <li class="dropdown position-static "><a href="#" style="color: black; font-weight: bold;">DANH MỤC<i
                                    class="fa fa-angle-down"></i></a>
                                    <ul class="mega-menu d-block">
                                        <li class="d-flex">
                                            <ul class="d-block">
                                                <li class="title"><a href="/products/{{product.id}}">GIÀY NAM</a></li>
                                                <li><a href="shop-3-column.html">Giày công sở nam</a></li>
                                                <li><a href="shop-4-column.html">Giày da nam</a></li>
                                                <li><a href="shop-left-sidebar.html">Giày lười nam</a></li>
                                                <li><a href="shop-right-sidebar.html">Giày thể thao nam</a></li>
                                                <li><a href="shop-list-left-sidebar.html">Giày vải nam</a>
                                            </ul>
                                            <ul class="d-block">
                                                <li class="title"><a href="/products/{{product.id}}">GIÀY NỮ</a></li>
                                                <li><a href="single-product.html">Giày da nữ</a></li>
                                                <li><a href="single-product-variable.html">Giày lười nữ</a></li>
                                                <li><a href="single-product-affiliate.html">Giày thể thao nữ</a></li>
                                                <li><a href="single-product-group.html">Giày vải nữ</a></li>
                                                <li><a href="single-product-tabstyle-2.html">Giày trung nữ</a></li>

                                            </ul>

                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown "><a href="#" style="color: black; font-weight: bold;">THƯƠNG HIỆU<i class="fa fa-angle-down"></i></a>
                                    <ul class="sub-menu">
                                        <li class="dropdown position-static"><a href="blog-grid-left-sidebar.html">GIÀY
                                                <i class="fa fa-angle-right"></i></a>
                                            <ul class="sub-menu sub-menu-2">
                                                <li><a href="blog-grid.html">Nike</a></li>
                                                <li><a href="blog-grid.html">Adidas</a></li>
                                                <li><a href="blog-grid.html">Puma</a></li>
                                                <li><a href="blog-grid.html">Reebok</a></li>
                                                <li><a href="blog-grid.html">New Balance</a></li>
                                                <li><a href="blog-grid.html">Vans</a></li>
                                                <li><a href="blog-grid.html">Converse</a></li>
                                                <li><a href="blog-grid-left-sidebar.html">Skechers</a></li>
                                            </ul>
                                        </li>

                                    </ul>
                                </li>
                                <li><a href="{% url 'contact' %}" style="color: black; font-weight: bold;">LIÊN HỆ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header navigation area end -->
            <div class="mobile-search-box d-lg-none">
                <div class="container">
                    <!-- mobile search start -->
                    <div class="search-element max-width-100">
                        <form action="#">
                            <input type="text" placeholder="Search" />
                            <button><i class="pe-7s-search"></i></button>
                        </form>
                    </div>
                    <!-- mobile search start -->
                </div>
            </div>
        </header>
        <!-- offcanvas overlay start -->
        <div class="offcanvas-overlay"></div>
        <!-- offcanvas overlay end -->
        <!-- OffCanvas Wishlist Start -->

        <!-- OffCanvas Wishlist End -->
        <!-- OffCanvas Cart Start -->
    {% load cart_tag %}
        <div id="offcanvas-cart" class="offcanvas offcanvas-cart">
            <div class="inner">
                <div class="head">
                    <span class="title">Cart</span>
                    <button class="offcanvas-close">×</button>
                </div>
                <div class="body customScroll">
                    <ul class="minicart-product-list">

                        {% if request.session.cart|length < 1 %}
                        <!-- Empty Cart area start -->
                        <div class="empty-cart-area pb-100px pt-100px">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="cart-heading">
                                            <h2></h2>
                                        </div>
                                        <div class="empty-text-contant text-center">
                                         <i class="pe-7s-shopbag"></i>
                                            <h3>Không còn mặt hàng nào trong giỏ hàng của bạn</h3>
                                            <a class="empty-cart-btn" href="{% url 'products' %}">
                                                <i class="fa fa-arrow-left"> </i> Tiếp tục mua sắm
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- Empty Cart area end -->
                        {% else %}

                        {% for key,value in request.session.cart.items %}
                        {% load custom_filters %}
                        <li>
                            <a href="single-product.html" class="image"><img src=" {{value.image}}" alt="Cart product Image"></a>
                            <div class="content">
                                <a href="single-product.html" class="title">{{value.name}}</a>
                                <span class="quantity-price"> {{value.quantity}} x <span class="amount">{{ value.price|multiply:value.quantity|currency }}</span></span>
                                <a href="{% url 'item_clear' key %}" class="remove">×</a>
                            </div>
                        </li>
                        {% endfor %}

                        {% endif %}

                    </ul>
                </div>
                <div class="foot">
                    <div class="buttons mt-30px">

                        <a href="{% url 'cart_detail' %}" class="btn btn-dark btn-hover-primary mb-30px">Xem giỏ hàng</a>
                        <a href="{% url 'checkout' %}" class="btn btn-outline-dark current-btn">Thanh toán</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- OffCanvas Cart End -->
        <!-- OffCanvas Menu Start -->
        <!-- OffCanvas Menu End -->

    {% block content %}{% endblock %}


<!-- Footer Area Start -->
        <div class="footer-area">
            <div class="footer-container">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 mb-md-30px mb-lm-30px">
                                <div class="single-wedge">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="assets/images/logo/footer-logo.png" alt=""></a>
                                    </div>

                                    <p class="about-text">VỀ CHÚNG TÔI
                                    </p>
                                    <h7>SHOP GIÀY Nam Nữ Chính Hãng Từ Năm 2004</h7>
                                    <ul class="link-follow">
                                        <li>
                                            <a class="m-0" title="Twitter" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-facebook"
                                                aria-hidden="true"></i></a>
                                        </li>
                                        <li>
                                            <a title="Tumblr" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-tumblr" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Facebook" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-twitter" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Instagram" target="_blank" rel="noopener noreferrer" href="#"><i class="fa fa-instagram" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-60px">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">SHOWROOM 1</h4>
                                    <div class="footer-links">
                                        <div class="footer-row">
                                            <ul class="align-items-center">
                                                <li class="li"><a class="single-link" href="{% url 'home' %}"><i class="fa-sharp fa-solid fa-location-dot"></i>  202 (số cũ 241) Phan Xích Long, Phường 7, Quận Phú Nhuận, TP HCM</a></li>
                                                <li class="li"><a class="single-link" href="{% url 'home' %}"><i class="fa-solid fa-phone"></i>0351.624.615</a></li>
                                                <li class="li"><a class="single-link" href="{% url 'home' %}"><i class="fa-solid fa-clock"></i>Thời gian mở cửa: 8h30 - 21h30</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-40px">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">SHOWROOM 2</h4>
                                    <div class="footer-links">
                                        <div class="footer-row">
                                           <ul class="align-items-center">
                                                <li class="li"><a class="single-link" href="{% url 'home' %}"><i class="fa-sharp fa-solid fa-location-dot"></i>  202 (số cũ 241) Phan Xích Long, Phường 7, Quận Phú Nhuận, TP HCM</a></li>
                                                <li class="li"><a class="single-link" href="{% url 'home' %}"><i class="fa-solid fa-phone"></i>0351.624.615</a></li>
                                                <li class="li"><a class="single-link" href="{% url 'home' %}"><i class="fa-solid fa-clock"></i>Thời gian mở cửa: 8h30 - 21h30</a></li>
                                           </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 col-sm-12">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">Liên hệ</h4>
                                    <div class="footer-links">
                                        <p class="address">ĐỊA TRỈ: HÀ NỘI</p>
                                        <p class="phone">Phone:<a href="tel:0123456789"> 0123456789</a></p>
                                        <p class="mail">Email:<a href="mailto:demo@example.com"> demo@example.com</a></p>
                                        <p class="mail"><a href="https://demo@example.com/"> demo@example.com</a></p>
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="line-shape-top line-height-1">
                            <div class="row flex-md-row-reverse align-items-center">
                                <div class="col-md-6 text-center text-md-end">
                                    <div class="payment-mth"><a href="#"><img class="img img-fluid"></a></div>
                                </div>
                                <div class="col-md-6 text-center text-md-start">
                                    <p class="copy-text"> © 2024 <strong>HUYSHOP</strong> SHOP GIÀY CHÍNH HÃNG <i class="fa fa-heart"
                                        aria-hidden="true"></i><a class="company-name" href="#"></a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Area End -->
    </div>
    <!-- Modal -->
    {% for i in product %}
    <div class="modal modal-2 fade" id="exampleModal-{{forloop.counter}}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> <i class="pe-7s-close"></i></button>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                            <!-- Swiper -->
                            <div class="swiper-container gallery-top">
                                <div class="swiper-wrapper">
                                    {% for img in i.images_set.all %}
                                    <div class="swiper-slide">
                                        <img class="img-responsive m-auto" src="/{{img.Image}}" alt="">
                                    </div>
                                    {% endfor %}

                                </div>
                            </div>
                            <div class="swiper-container gallery-thumbs mt-20px slider-nav-style-1 small-nav">
                                <div class="swiper-wrapper">
                                    {% for img in i.images_set.all %}
                                    <div class="swiper-slide">
                                        <img class="img-responsive m-auto" src="/{{img.Image}}" alt="">
                                    </div>
                                    {% endfor %}

                                </div>
                                <!-- Add Arrows -->
                                <div class="swiper-buttons">
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                            <div class="product-details-content quickview-content">
                                <h2>{{i.name}}</h2>
                                <div class="pricing-meta">
                                    <ul class="d-flex">
                                        <li class="new-price">{{i.price}}đ</li>
                                    </ul>
                                </div>
                                <div class="pro-details-rating-wrap">
                                    <div class="rating-product">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <span class="read-review"><a class="reviews" href="#">( 2 Review )</a></span>
                                </div>
                                <p class="mt-30px">{{i.description | safe}}</p>
                                <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                                    <span>SKU:</span>
                                    <ul class="d-flex">
                                        <li>
                                            <a href="#">Ch-256xl</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                                    <span>Categories: </span>
                                    <ul class="d-flex">
                                        <li>

                                            <a href="#">{{i.categories}} </a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                                    <span>Tags: </span>
                                    <ul class="d-flex">
                                        <li>
                                            {% for tag in i.tag_set.all %}
                                            <a href="#">{{tag.name}} </a>
                                            {% endfor %}
                                        </li>

                                    </ul>
                                </div>
                                <div class="pro-details-quality">
                                    <div class="cart-plus-minus">
                                        <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" />
                                    </div>
                                    <div class="pro-details-cart">
                                        <button class="add-cart"> Add To
                                            Cart</button>
                                    </div>
                                    <div class="pro-details-compare-wishlist pro-details-wishlist ">
                                        <a href="wishlist.html"><i class="pe-7s-like"></i></a>
                                    </div>
                                </div>
                                <div class="payment-img">
                                    <a href="#"><img src="assets/images/icons/payment.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Modal end -->
    <!-- Modal Cart -->
{% for i in product %}
    <div class="modal customize-class fade" id="exampleModal-Cart-{{forloop.counter}}" tabindex="-1"   aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="pe-7s-close"></i></button>
                    <div class="tt-modal-messages">
                        <i class="pe-7s-check"></i> Added to cart successfully!
                    </div>
                    <div class="tt-modal-product">
                        <div class="tt-img">
                            <img src="/{{i.image}}" alt="Modern Smart Phone">
                        </div>
                        <h2 class="tt-title"><a href="#">{{i.name}}</a></h2>
                        <br>
                        <a href="{% url 'cart_add' i.id %}">Add To cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}




    <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.2.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/modernizr-3.11.2.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/scrollUp.js' %}"></script>
    <script src="{% static 'assets/js/plugins/venobox.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery-ui.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/mailchimp-ajax.js' %}"></script>

    <!-- Minify Version -->
    <script src="{% static 'assets/js/vendor.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins.min.js' %}"></script>
    <script src="{% static 'assets/js/main.min.js' %}"></script>

    <!--Main JS (Common Activation Codes)-->
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>



</html>